body {
    margin: 0;
    padding-top: 160px; /* Ajusta el padding para incluir el espacio ocupado por el encabezado */
    overflow-y: auto; /* Permite desplazamiento vertical */
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

h5 {
    text-align: left;
}

.main-title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0; /* Reduce el margen superior */
    text-align: center;
    z-index: 2;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.png');
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(45, 49, 58, 0.89);
    z-index: -1;
}

@media (min-width: 768px) {
    .navbar {
        padding: 50px 50px; /* Aumentar el padding para incrementar el tamaño del navbar */
    }
}

@media (min-width: 1200px) {
    .navbar-xl {
        height: 160px; /* Ajusta la altura del navbar para pantallas grandes */
    }
}
