body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.logout-link {
    float: right;
    margin-top: -30px;
    margin-right: 440px;
    
    text-decoration: none;
    color: #006d4c;
}

.actualizar-link {
    float: right;
    margin-top: -30px;
    margin-right: 330px;
    
    text-decoration: none;
    color: #006d4c;
}



.order-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.validate-button {
    background-color: #006d4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
}

.info-button {
    margin-left: 20px; /* Separar más los botones */
}

.form-group {
    padding-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
   
    font-weight: bold;
    margin-right: 10px;
}

.form-group label[for="orderId"] {
   
    margin-left: 30px; /* Ajusta el valor según sea necesario */
}




.form-group input {
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 150px; /* Hacer más pequeña la entrada de texto */
    margin-right: 10px; /* Espacio entre la entrada de texto y el botón */
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    user-drag: none; /* Deshabilitar arrastrado en navegadores webkit */
    pointer-events: none; /* Deshabilitar eventos del mouse en la imagen */
}
.header-container h1 {
    margin: 0;
}


#obtenerOrdenesBtn, #buscarOrdenesBtn {
    background-color: #006d4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0; /* Alinear con la entrada de texto */
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }


    .logout-link, .actualizar-link {
        float: none;
        align-content: center;
        margin: auto 160px;
    }

    .form-group {
      
        padding: 10px 10px;
        margin-bottom: 20px;
    }

    .form-group label {
      
        text-align: left;
    }

    .form-group input {
        width: calc(100% - 70px); /* Ajuste para el borde */
        margin: 5px 0;
    }

    #obtenerOrdenesBtn, #buscarOrdenesBtn {
       height: 30px;
        width: 10px;
        background-color: #006d4c;
        color: white;
        border: none;
        padding: 10px 35px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    #obtenerOrdenesBtn img, #buscarOrdenesBtn img {
        width: 24px;
        margin-right: 10px;
    }
}