#description-container {
    margin-top: 10%;
    width: 60%;
    border: 1px solid #ccc;
    border-top: 4px solid green;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#description-container p {
    color: #777;
    font-size: 1vw; /* Usando unidades relativas al ancho del viewport */
}

/* Media queries para ajustar el tamaño de fuente y el diseño en vistas móviles */
@media (max-width: 768px) {
    #description-container {
        width: 100%; /* Ajustar el ancho al 100% en vistas móviles */
        margin-top: 5%; /* Reducir el margen superior para vistas móviles */
        padding: 10px; /* Ajustar el padding para vistas móviles */
    }

    #description-container p {
        font-size: 3vw; /* Ajustar tamaño de fuente para pantallas más pequeñas */
    }
}

