body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita scroll horizontal */
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    margin-top: 120px; /* Asegura que el contenido no sea tapado por el navbar */
}

.container {
    width: 100%;
    max-width: 1200px; /* Más ancho */
    margin: 20px auto; /* Centrado */
    border: 1px solid #ccc;
    border-top: 15px solid green;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container h1 {
    color: green;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.button-container button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.occupied {
    background-color: grey;
    cursor: not-allowed;
}

.available {
    background-color: green;
    cursor: pointer;
}

.ticket-container {
    background-color: #DAA520; /* Amarillo oscuro */
    color: white;
}

.selected-ticket {
    background-color: green;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

/* Estilos para el bottom sheet */
#selected-numbers-bottomsheet {
    position: fixed;
    bottom: -100%; /* Oculto inicialmente */
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transition: bottom 0.3s ease; /* Transición suave para mostrar/ocultar */
    z-index: 1000; /* Asegurar que el bottom sheet esté por encima de otros elementos */
}

#selected-numbers-bottomsheet.show {
    bottom: 0; /* Mostrar el bottom sheet */
}

.bottomsheet-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#selected-numbers {
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    width: 100%;
    position: relative;
}

#apartar-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#apartar-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1001; /* Por encima del bottom sheet */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.modal-content button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .main-content {
        padding: 20px 0;
    }
    
    .container {
        width: 95%;
        max-width: 100%; /* Ajusta el ancho máximo para dispositivos móviles */
        padding: 20px;
        margin: 20px auto;
        border-top: 10px solid green;
        border-radius: 20px;
    }

    .search-bar input[type="text"] {
        width: 80%;
        padding: 10px;
    }

    .search-bar button {
        padding: 10px;
    }

    .button-container {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Ajusta el tamaño mínimo de los botones */
        gap: 5px; /* Reduce el espacio entre los botones */
    }

    .button-container button {
        padding: 8px; /* Reduce el padding de los botones */
        font-size: 12px; /* Reduce el tamaño de la fuente de los botones */
    }
}
