/* Estilos para el footer */
body .footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
    position: relative; /* Default position relative */
    bottom: 0;
    left: 0;
    margin-top: auto; /* Push footer to bottom if content is less */
}

body .footer-content {
    max-width: 800px;
    margin: 0 auto;
}

body .footer-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

body .footer-content p {
    margin: 5px 0;
    align-items: right;
}

body .footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

body .footer-content a:hover {
    text-decoration: underline;
}

body .footer-content .fa-whatsapp {
    color: #25d366;
    margin-right: 10px;
}

body .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

body .whatsapp-icon {
    width: 36px;
    height: 36px;
    margin-right: 2px;
}

body .phone-number {
    font-size: 3em;
}
