#footer-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    font-size: 18px;
    margin: 5px 0;
}

.footer-content ul li i {
    color: green;
    margin-right: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-content p {
    font-size: 14px;
    margin-top: 20px;
}

/* Media queries para ajustar el diseño en vistas móviles */
@media (max-width: 768px) {
    .footer-content h2 {
        font-size: 6vw;
    }

    .footer-content ul li {
        font-size: 4.5vw;
    }

    .footer-links a {
        font-size: 4vw;
    }

    .footer-content p {
        font-size: 3vw;
    }
}
