@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/RifasEconomicasTamp/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/RifasEconomicasTamp/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/RifasEconomicasTamp/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/RifasEconomicasTamp/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/RifasEconomicasTamp/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.info-container {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
    flex: 1; /* Ensure it takes available space */
    margin: 0 auto; /* Center the container */
    width: 100%; /* Ensure full width */
}

.info-title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 2em;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

#info00 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between elements */
}

#info00 h3 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 2em;
    margin-top: 0;
}

#info00 p {
    font-family: 'Poppins-Regular', sans-serif;
    margin: 10px 20px 10px 0;
    font-size: 1em;
    flex: 1; /* Ensure the paragraph takes up available space */
}

#info00 img {
    width: 370px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px;
    align-self: center; /* Center the image vertically */
}

.info-box {
    background-color: white;
    width: 80%;
    max-width: 1100px; /* Adjust max-width for better design */
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
    text-align: left;
    border: 2px solid transparent; /* To ensure the background doesn't cut off the border-radius */
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.payment-box {
    max-width: 1100px; /* Set the max-width to 1100px */
}

.info-box h3 {
    margin-top: 0;
}

.info-box p {
    margin: 10px 0;
}

.info-box .info-image {
    align-self: flex-start;
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}

.info-box::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: green;
    position: absolute;
    top: -10px; /* Position above the container */
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.payment-method {
    padding: 20px;
    text-align: left;
}

.payment-method h3 {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.bbva-logo {
    width: 100px;
    margin: 20px 0;
}

.payment-method p {
    font-size: 1.1em;
}

/* Estilo para el contenedor principal del vehículo */
.vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 4px solid green;
    padding: 20px;
}

/* Estilo para la imagen del vehículo */
.vehicle-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Estilo para los detalles del vehículo */
.vehicle-details h2 {
    color: green;
    margin: 10px 0;
}

/* Estilo para la información de precios */
.pricing-info {
    background: green;
    color: white;
    padding: 22px; /*ancho de pricing info del contenedor*/
    width: 100%;
    text-align: center;
    margin-bottom: 50px; /* Añade un margen inferior para separar del botón de compra separacion del boton y pricing info*/ 
}

/* Estilo para el botón de compra */
.buy-button {
    display: inline-block; /* Asegura que se comporte como un botón */
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    margin-top: 10px; /* Asegura que haya un margen superior */
    border-radius: 5px; /* Añade bordes redondeados */
    text-align: center; /* Centra el texto */
    outline: none; /* Elimina la línea de enfoque */
}

.buy-button:hover, .buy-button:focus, .buy-button:active {
    background: darkgreen; /* Cambia el color de fondo al pasar el mouse */
    text-decoration: none; /* Asegura que no haya subrayado */
    outline: none; /* Elimina el contorno de enfoque */
    border: none; /* Elimina cualquier borde */
}

.buy-button span {
    text-decoration: none; /* Asegura que no haya subrayado */
    border: none; /* Elimina cualquier borde */
}



.accordion-content {
    display: none;
    padding: 15px;
    border-top: 1px solid #ccc;
}


/* Estilos para el acordeón */
/* Estilo para el contenedor principal del acordeón */
.accordion {
    width: 100%;
}

/* Estilo para cada ítem del acordeón */
.accordion-item {
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-item:first-child {
    border-top: 1px solid #ccc;
}

/* Estilo para los botones del acordeón */
.accordion-button {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.accordion-button::after {
    content: '\25BC';
    float: right;
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.accordion-body {
    padding: 15px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.5;
}

/* Media queries para mejorar el diseño en dispositivos móviles */
@media (max-width: 480px) {
    .info-box {
        width: 100%;
        padding: 10px;
    }

    .accordion-button {
        font-size: 14px;
        padding: 10px;
    }

    .accordion-body {
        font-size: 12px;
        padding: 10px;
    }

}


@media (max-width: 480px) {

   
    .info-box {
        width: 100%;
        padding: 10px;
    }

    .info-box .info-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .pricing-info {
        width: calc(95% - 30px); /* Ajusta el ancho para compensar el padding */
        padding: 36px; 
        margin-bottom: 90px;
    }

    .comprar-boletos-btn {
       
        margin-top: 150px;
        
    }
}