.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
    flex: 1; /* Ensure it takes available space */
    margin: 0 auto; /* Center the container */
    width: 100%; /* Ensure full width */
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

.info-box {
    background-color: white;
    width: 80%;
    max-width: 1100px; /* Adjust max-width for better design */
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
    text-align: left;
    border: 2px solid transparent; /* To ensure the background doesn't cut off the border-radius */
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}


.payment-box {
    max-width: 1100px; /* Set the max-width to 1100px */
}

.info-box h3 {
    margin-top: 0;
}

.info-box p {
    margin: 10px 0;
}

.info-box .info-image {
    align-self: flex-end;
    width: 150px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.info-box::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: green;
    position: absolute;
    top: -10px; /* Position above the container */
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-title {
    
    font-size: 2em;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

.payment-method {
 
    padding: 20px;
   
   
    text-align: left;
}

.payment-method h3 {
    
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.bbva-logo {
    width: 100px;
    margin: 20px 0;
}

.payment-method p {
    font-size: 1.1em;
}


/* Estilo para el contenedor principal del vehículo */
.vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 4px solid green;
    padding: 20px;
}

/* Estilo para la imagen del vehículo */
.vehicle-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Estilo para los detalles del vehículo */
.vehicle-details h2 {
    color: green;
    margin: 10px 0;
}

/* Estilo para la información de precios */
.pricing-info {
    background: green;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Estilo para el botón de compra */
.buy-button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}


/* Estilos para el acordeón */
.accordion {
    width: 100%;
}

.accordion-item {
    border: 1px solid #ccc;
    border-top: none;
}

.accordion-item:first-child {
    border-top: 1px solid #ccc;
}

.accordion-button {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 15px;
    border-top: 1px solid #ccc;
}

.accordion-button::after {
    content: '\25BC';
    float: right;
}

.accordion-button.active::after {
    content: '\25B2';
}






@media (max-width: 480px) {
    .info-box {
        width: 100%;
        padding: 10px;
    }
    .info-box .info-image {
        width: 100%;
        height: auto;
    }
}

