#payment-methods-container {
    margin: 10% auto; /* Centrado horizontalmente */
    width: 60%; /* Define que el contenedor ocupará el 60% del ancho de su contenedor padre */
    border: 1px solid #ccc;
    border-top: 4px solid green;
    padding: 20px;
    text-align: left; /* Alinear el texto a la izquierda */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; /* Color de texto */
    border-radius: 8px; /* Bordes redondeados */
}

#payment-methods-container h1 {
    color: white;
    background-color: #d3d3d3;
    font-size: 24px;
    text-align: center; /* Centrar el título */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior */
}

#payment-methods-container h2 {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left; /* Alinear el texto a la izquierda */
}

#payment-methods-container img {
    width: 150px;
    margin-bottom: 20px;
}

#payment-methods-container p {
    font-size: 18px;
    margin: 5px 0;
    text-align: left; /* Alinear el texto a la izquierda */
}

#payment-methods-container p strong {
    display: inline-block;
    width: 120px; /* Ancho para alinear etiquetas */
}

/* Media queries para ajustar el tamaño de fuente y el diseño en vistas móviles */
@media (max-width: 768px) {
    #payment-methods-container {
        width: 100%;
        margin: 5% auto;
        padding: 10px;
    }

    #payment-methods-container h1 {
        font-size: 6vw;
    }

    #payment-methods-container h2 {
        font-size: 5vw;
    }

    #payment-methods-container img {
        width: 100px;
    }

    #payment-methods-container p {
        font-size: 4vw;
    }
}
