body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/RifasEconomicasTamp/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth; /* Para un desplazamiento suave */
}

body {
    margin: 0;
    padding-right: 40;
    font-family: "Poppins-SemiBold", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
    position: fixed;
    padding: 20px 60px;
    height: 160px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 1000;
    box-sizing: border-box;
    border-top: 25px solid green;
    border-bottom: 25px solid green;
    transition: height 0.3s ease, padding 0.3s ease;
}

/* Estilo para navbar encogido */
.navbar-shrink {
    height: 100px;
    padding: 10px 30px;
}

.brand-title {
    font-size: 0; /* Larger font size */
    color: rgb(0, 0, 0);
}

.brand-title a {
    display: inline-block;
}

.brand-title img {
    height: 140px; /* Adjust height for the logo */
    margin-right: 10px; /* Space between logo and text */
    transition: height 0.3s ease, transform 0.3s ease; /* Smooth transition for the logo */
}

.brand-title a:hover img {
    transform: scale(1.1); /* Slightly enlarge the logo on hover */
}

.navbar-links {
    display: none; /* Hide by default */
    position: fixed; /* Fixed position */
    top: 137px; /* Position below navbar */
    left: 0;
    width: 100%;
    background-color: #000000; /* Same color as navbar */
    z-index: 999; /* Slightly below navbar */
    box-sizing: border-box; /* Include padding in width */
    opacity: 0; /* Para la animación de desvanecimiento */
    transform: translateY(-20px); /* Para la animación de desplazamiento */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Añade transición para la animación */
}

.navbar-shrink .navbar-links {
    top: 117px; /* Ajusta el top cuando el navbar está retraído */
}

.navbar-links.show {
    display: block;
    opacity: 1; /* Mostrar con opacidad */
    transform: translateY(0); /* Restablecer desplazamiento */
}

.navbar-links ul {
    display: flex;
    flex-direction: column; /* Column direction for responsiveness */
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    margin: 10px 0; /* Margin for vertical spacing */
}

.navbar-links a {
    font-family: 'Poppins-SemiBold', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px; /* Padding for better clickability */
    display: block;
}

.toggle-button {
    display: block; /* Display the toggle button */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-icon {
    width: 40px; /* Ajusta el tamaño del ícono según tus necesidades */
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon path {
    stroke: #ffffff;
    stroke-width: 5;
    stroke-linecap: round;
    transition: all 0.5s;
    transform: rotate(0deg);
    will-change: transform, opacity;
    transform-origin: center;
}

.menu-link:hover path,
.menu-link:focus path,
.menu-link:active path {
    stroke: rgb(255, 255, 255);
}

.menu-icon.active path:nth-child(1) {
    opacity: 0;
}

.menu-icon.active path:nth-child(4) {
    opacity: 0;
}

.menu-icon.active path:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.active path:nth-child(3) {
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
    .navbar-links {
        display: flex !important; /* Display flex for larger screens */
        position: static; /* Default position */
        flex-direction: row; /* Row direction for larger screens */
        justify-content: flex-end;
        width: auto;
        background-color: transparent; /* Remove background color */
        opacity: 1; /* Asegurar que sea visible en pantallas grandes */
        transform: none; /* Sin transformación en pantallas grandes */
        transition: none; /* Remove transition */
    }
    .navbar-links ul {
        flex-direction: row; /* Row direction for larger screens */
    }
    .navbar-links li {
        margin: 0 15px; /* Margin for horizontal spacing */
    }
    .navbar-links a {
        padding: 0; /* Remove padding */
    }
    .toggle-button {
        display: none; /* Hide the toggle button for larger screens */
    }
}

.main-container {
    flex: 1;
    margin-top: 80px; /* Ajusta basado en la altura del navbar */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}
