body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
    position: fixed;
    padding: 20px 30px;
    height: 160px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; /* Fixed color */
    padding: 15px 20px; /* More padding for a wider appearance */
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    box-sizing: border-box; /* Include padding in width */
    border-top: 25px solid green; /* Top border color */
    border-bottom: 25px solid green; /* Bottom border color */
}

.brand-title {
    font-size: 1.8em; /* Larger font size */
    color: white;
}

.brand-title img {
    height: 90px; /* Adjust height for the logo */
    margin-right: 10px; /* Space between logo and text */
}

.navbar-links {
    display: none; /* Hide by default */
    position: fixed; /* Fixed position */
    top: 125px; /* Position below navbar */
    left: 0;
    width: 100%;
    background-color: #000000; /* Same color as navbar */
    z-index: 999; /* Slightly below navbar */
    box-sizing: border-box; /* Include padding in width */
}

.navbar-links ul {
    display: flex;
    flex-direction: column; /* Column direction for responsiveness */
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    margin: 10px 0; /* Margin for vertical spacing */
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px; /* Padding for better clickability */
    display: block;
}

.toggle-button {
    display: block; /* Display the toggle button */
    font-size: 1.5em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-links {
        display: flex !important; /* Display flex for larger screens */
        position: static; /* Default position */
        flex-direction: row; /* Row direction for larger screens */
        justify-content: flex-end;
        width: auto;
        background-color: transparent; /* Remove background color */
    }
    .navbar-links ul {
        flex-direction: row; /* Row direction for larger screens */
    }
    .navbar-links li {
        margin: 0 15px; /* Margin for horizontal spacing */
    }
    .navbar-links a {
        padding: 0; /* Remove padding */
    }
    .toggle-button {
        display: none; /* Hide the toggle button for larger screens */
    }
}

.main-container {
    flex: 1;
    margin-top: 80px; /* Adjust based on navbar height to prevent content overlap */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}
