.prize-card {
    margin-top: 20px;
}

.prize-image-wrapper {
    position: relative;
}

.prize-image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 31, 30, 0.76);
    z-index: 1;
}
